<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-list-header lines="none" mode="ios">
        <ion-label>Account</ion-label>
      </ion-list-header>
        <ion-item button="true">
          Option 1
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 2
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 3
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 4
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 5
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 6
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 7
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>

        <ion-item>
          Option 8
          <ion-button fill="clear" slot="end"><ion-icon name="play"></ion-icon></ion-button>
        </ion-item>
    </ion-list>
  </ion-content>
